<div class="relative overflow-hidden rounded-lg bg-[#D2B48C] h-64" data-carousel-root>
    <div class="absolute inset-0" data-carousel-slides></div>

    <button type="button" class="absolute left-3 top-1/2 -translate-y-1/2 bg-black/40 text-white w-10 h-10 rounded-full flex items-center justify-center hover:bg-black/60 transition" aria-label="Previous photo" data-carousel-prev>
        <i class="fas fa-chevron-left"></i>
    </button>
    <button type="button" class="absolute right-3 top-1/2 -translate-y-1/2 bg-black/40 text-white w-10 h-10 rounded-full flex items-center justify-center hover:bg-black/60 transition" aria-label="Next photo" data-carousel-next>
        <i class="fas fa-chevron-right"></i>
    </button>

    <div class="absolute bottom-3 left-1/2 -translate-x-1/2 flex gap-2" data-carousel-dots></div>
</div>
